<form class="form">
    <div className="control">
        <label for='name'>Your Name</label>
        <input type='text' id='name' />
        <!-- validálás -->
    </div>
    <div class="control">
        <label for='street'>Street</label>
        <input type='text' id='street'/>
        <!-- validálás -->
    </div>
    <div class="control">
        <label for='postal'>Postal Code</label>
        <input type='text' id='postal' />
        <!-- validálás -->
    </div>
    <div class="control">
        <label for='city'>City</label>
        <input type='text' id='city' />
        <!-- validálás -->
    </div>
    <div class="actions">
        <button type='button'>
            Cancel
        </button>
        <button class="submit">Confirm</button>
    </div>
</form>